fastapi
uvicorn[standard]
temporalio
langgraph
langchain
dspy-ai
weaviate-client
playwright
polars
azure-ai-documentintelligence
python-dotenv
pytest
humanize
msgpack
openpyxl
python-docx
pymupdf
xlsxwriter
pandas
pyautogui
pygetwindow
pyperclip
AppOpener
send2trash
docxtpl
pdfplumber
beautifulsoup4
lxml
reportlab
